<div id='author-bio'>
  <div class='bio'>
    <p>
      My name is Matthew Sullivan.
      Currently, I'm a Senior Software Engineer at <a href="https://target.com">Target</a> in Minneapolis, MN.
      Previously I was a Senior Software Engineer at <a href="http://www.startribune.com">Star Tribune</a>, Lead Web Engineer at <a href="https://botlink.com">Botlink</a>, and the CEO & co-founder of <a href="http://jumpr.it">Jumpr</a>.
    </p>
    <br>
    <br>
    <div class='links'>
      <a id='bio-home-link' href='/'>Posts</a>
      <a id='bio-projects-link' href='/projects/'>Projects</a>
      <a id='bio-about-link' href='/about/'>About</a>
    </div>
  </div>
</div>
