<div id='author-bio'>
  <div class='bio'>
    <p>
      My name is Matthew Sullivan.
      Currently, I'm a Site Reliability Engineer at <a href="http://www.startribune.com">Star Tribune</a> in Minneapolis, MN.
      Before that I was the Lead Web Engineer at <a href="https://botlink.com">Botlink</a> and the CEO & co-founder of <a href="https://jumpr.it">Jumpr</a>.
    </p>
    <br>
    <br>
    <div class='links'>
      <a id='bio-home-link' href='/'>Posts</a>
      <a id='bio-home-link' href='/projects/'>Project</a>
      <a id='bio-about-link' href='/about/'>About</a>
    </div>
  </div>
</div>
