#day-graph,
#hour-graph {
  box-sizing: border-box;
  display: inline-block;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  width: 80%;
}

ul#legend {
  box-sizing: border-box;
  display: inline-block;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  list-style: none;
  margin: 0;
  margin-right: 4%;
  min-width: 15%;
  text-align: left;
  vertical-align: middle;
}

svg {
  margin-right: -50px;
}

@media screen and (max-width: 960px) {
  ul#legend {
    display: block;
    min-width: 100%;
  }

  #graphs {
    display: block;
    margin-right: 0;
    width: 100%;
  }

  svg {
    margin-right: -25px;
  }
}

li.positive span,
li.neutral span,
li.negative span {
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

li.positive span {
  background-color: #98c379;
}

li.neutral span {
  background-color: #e5c07b;
}

li.negative span {
  background-color: #e05252;
}

svg {
  overflow: visible;
}

.graph .axis {
  fill: #6F7783;
  font-size: 11px;
}
.graph .axis line,
.graph .axis path {
  stroke-width: hairline;
  fill: none;
  stroke: #6F7783;
  shape-rendering: crispEdges;
}
.graph path.path {
  fill: none;
  stroke: url(#line-gradient);
  stroke-opacity: 1;
  stroke-width: 2px;
}

g.axis.y path.domain {
  display: none;
}

g.axis path.domain {
  opacity: 0.2;
}

g.axis line {
  opacity: 0.2;
}
